body {
  font: 1rem / 1.5 Raleway, sans-serif;
  padding-bottom: 48px;
  width: 960px;
  color: #222;
  margin: auto;
}

h1, h2 {
  font-family: Monoton, cursive;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

abbr {
  text-decoration: none;
}
