body {
   background-color: black;
   color: white;
   font-family: 'Fira Sans Condensed', sans-serif;
   font-size: 16px;
   font-weight: 200;
   line-height: 1.6;
   margin: auto;
   padding-bottom: 36px;
   width: 768px;
}

h1 {
   font-family: 'Abril Fatface', cursive;
   font-size: 3rem;
   text-align: center;
}

h2 {
   font-family: 'Abril Fatface', cursive;
   font-size: 2.25rem;
   margin-top: 48px;
   text-align: center;
}

div {
   display: block;
   text-align: center;
}

div p {
   font-size: 14px;
   margin: 0;
}

div a {
   border: 0;
}

a {
   color: #ccc;
   text-decoration: none;
}
